<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>SukiAnimes</title>
  <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="only screen and (max-width: 600px)">
  <link rel="stylesheet" type="text/css" href="/css/tablet.css" media="only screen and (min-width: 601px) and (max-width: 1024px)">
  <link rel="stylesheet" type="text/css" href="/css/notebook.css" media="only screen and (min-width: 1024px) and (max-width: 1440px)">
  <link rel="stylesheet" type="text/css" href="/css/desktop.css" media="only screen and (min-width: 1440px)">
</head>