<body>
  <header>
    <div class="logo-container float-left">
      <a href="/">
        <img src="/img/logo.webp" id="logo" />
        <img src="/img/logo-text.webp" id="logo-text" />
      </a>
    </div>
    <div class="navbar-container float-right">
      <img id="search-icon" src="/svg/search.svg" />
      <img id="navbar-icon" src="/svg/menu.svg" />
    </div>
  </header>
  <nav class="navbar-items">
    <ul>
      <li class="navbar-section">
        <a href="/profile" class="profile-picture">
          <img src="/img/logo.webp" />
          <p>Username</p>
        </a>
        <a href="/offer-upgrade" class="navbar-item">
          <button>Upgrade</button>
        </a>
      </li>
      <li class="navbar-section">
        <a href="/login" id="navbar-item"
          ><img src="/svg/login.svg" />
          <p>Login</p></a
        >
        <a href="register" id="navbar-item"
          ><img src="/svg/register.svg" />
          <p>Sign up</p></a
        >
      </li>
      <li class="navbar-section">
        <a href="/" id="navbar-item"
          ><img src="/svg/home.svg" />
          <p>Home</p></a
        >
        <a href="/watchlater" id="navbar-item"
          ><img src="/svg/watchlater.svg" />
          <p>Watch Later</p></a
        >
        <a href="" id="navbar-item"
          ><img src="/svg/playlist.svg" />
          <p>Playlists</p></a
        >
        <a href="" id="navbar-item"
          ><img src="/svg/history.svg" />
          <p>History</p></a
        >
      </li>
      <li class="navbar-section">
        <a href="profile" id="navbar-item"
          ><img src="/svg/account.svg" />
          <p>My Account</p></a
        >
        <a href="news" id="navbar-item"
          ><img src="/svg/news.svg" />
          <p>News</p></a
        >
      </li>
      <li class="navbar-section">
        <a href="logout" id="navbar-item"
          ><img src="/svg/logout.svg" />
          <p>Leave</p></a
        >
      </li>
    </ul>
  </nav>