<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>SukiAnimes</title>
  </head>
  <body>
    <header>
      <div class="logo-container float-left">
        <img src="img/logo.png" alt="Logo" id="logo" />
        <img src="img/logo-text.png" alt="Logo Text" id="logo-text" />
      </div>
      <div class="navbar-container float-right">
        <img id="navbar-icon" src="svg/menu.svg" alt="" />
      </div>
    </header>
    <nav class="navbar-items">
      <ul>
        <li class="navbar-section">
          <a href="profile" class="profile-picture">
            <img src="/img/logo.png" />
            <p>Nome de Usuário</p>
          </a>
        </li>
        <li class="navbar-section">
          <a href="login" id="navbar-item"
            ><img src="svg/login.svg" />
            <p>Login</p></a
          >
        </li>
        <li class="navbar-section">
          <a href="/" id="navbar-item"
            ><img src="svg/watchlater.svg" />
            <p>Assistir mais tarde</p></a
          >
          <a href="/" id="navbar-item"
            ><img src="svg/playlist.svg" />
            <p>Playlists</p></a
          >
          <a href="/" id="navbar-item"
            ><img src="svg/history.svg" />
            <p>Histórico</p></a
          >
        </li>
        <li class="navbar-section">
          <a href="/" id="navbar-item"
            ><img src="svg/account.svg" />
            <p>Minha Conta</p></a
          >
          <a href="/" id="navbar-item"
            ><img src="svg/news.svg" />
            <p>Novidades</p></a
          >
        </li>
        <li class="navbar-section">
          <a href="/" id="navbar-item"
            ><img src="svg/logout.svg" />
            <p>Sair</p></a
          >
        </li>
      </ul>
    </nav>
    <main>Main</main>
    <footer>
      <a
        onclick="window.open('https://github.com/Queirozzzzzzzzzz?tab=repositories', '_blank');"
        >Queirozzzzzzzzzz</a
      >
    </footer>
    <script src="js/base.js"></script>
  </body>
</html>
