<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SukiAnimes</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="js/base.js"></script>
    <script src="js/tecnical-form.js"></script>
  </head>
  <body>
    <div class="form-page-container">
      <header>
        <div class="header">
          <div class="float-left">
            <a href="/" class="logo">
              <img src="img/logo.png" />
              <img id="logo-text" src="img/logo-text.png" />
            </a>
          </div>
          <div class="float-right">
            <div href="" id="menu"><img src="svg/menu.svg" /></div>
          </div>
        </div>
        <nav class="navbar">
          <ul class="navbar-items">
            <div class="navbar-section">
              <a href="profile" class="profile-picture">
                <img src="/img/logo.png" />
                <p>Nome de usuário</p>
              </a>
            </div>
            <div class="navbar-section">
              <a href="login" id="navbar-item"
                ><img src="svg/login.svg" />
                <li>Login</li></a
              >
            </div>
            <div class="navbar-section">
              <a href="/" id="navbar-item"
                ><img src="svg/watchlater.svg" />
                <li>Assistir mais tarde</li></a
              >
              <a href="/" id="navbar-item"
                ><img src="svg/playlist.svg" />
                <li>Playlists</li></a
              >
              <a href="/" id="navbar-item"
                ><img src="svg/history.svg" />
                <li>Histórico</li></a
              >
            </div>
            <div class="navbar-section">
              <a href="/" id="navbar-item"
                ><img src="svg/account.svg" />
                <li>Minha Conta</li></a
              >
              <a href="/" id="navbar-item"
                ><img src="svg/news.svg" />
                <li>Novidades</li></a
              >
            </div>
            <div class="navbar-section">
              <a href="/" id="navbar-item"
                ><img src="svg/logout.svg" />
                <li>Sair</li></a
              >
            </div>
          </ul>
        </nav>
      </header>
      <main>
        <div class="video-highlight">
          <img src="/img/landing-page-banner.png" alt="" />
        </div>
        <div class="preview-video-section">
          <h1>Continue assistindo</h1>
          <div class="preview-video-container">
            <div class="preview-video-container-banner">
              <img src="/img/landing-page-banner-mobile.png" alt="" />
            </div>
            <div class="preview-video-container-banner">
              <img src="/img/landing-page-banner-mobile.png" alt="" />
            </div>
            <div class="preview-video-container-banner">
              <img src="/img/landing-page-banner-mobile.png" alt="" />
            </div>
            <div class="preview-video-container-banner">
              <img src="/img/landing-page-banner-mobile.png" alt="" />
            </div>
            <div class="preview-video-container-banner">
              <img src="/img/landing-page-banner-mobile.png" alt="" />
            </div>
            <div class="preview-video-container-banner">
              <img src="/img/landing-page-banner-mobile.png" alt="" />
            </div>
          </div>
        </div>
        <div class="preview-banner-section">
          <h1>Animes em destaque</h1>
        </div>
      </main>
      <footer>
        <a
          onclick="window.open('https://github.com/Queirozzzzzzzzzz?tab=repositories', '_blank');"
          >Queirozzzzzzzzzz</a
        >
      </footer>
    </div>
  </body>
</html>
