<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="home-preview banner-carousel"></div>
  <div class="home-preview aired-today"></div>
  <div class="home-preview keep-watching"></div>
  <div class="home-preview suggestions"></div>
  <div class="home-preview watch-list"></div>
  <div class="home-preview recently-added"></div>
</main>
<%- include('partials/footer') %>
