<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SukiAnimes</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/base.js"></script>
</head>
<body>
    <div class="container">
        <header id="landing-page-header">
            <div class="header">
                <div class="float-left">
                    <a href="/" class="logo">
                        <img src="img/logo.png">
                        <img id="logo-text" src="img/logo-text.png">
                    </a>
                </div>
                <div class="float-right">
                    <nav class="navbar">
                        <ul class="navbar-items">
                            <a href="login" id="navbar-item"><img src="svg/login.svg"><li>Login</li></a>
                            <a href="/" id="navbar-item"><img src="svg/home.svg"><li>Início</li></a>
                        </ul>
                        <div href="" id="menu"><img src="svg/menu.svg"></div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="news">
                <h1 class="unselectable">Os Seus Animes Favoritos Em Um Só Lugar</h1>
                <button>Teste Gratuito</button>
            </div>
            <div class="product-comparison">
                <h1>Confira nossos planos</h1>
                <div class="product">
                    <img src="svg/level-1-member.svg"">
                    <h3>Básico</h3>
                    <h1>R$ 00.00/mês</h1>
                    <button>Teste Gratuito</button>
                    <a href="">Pular teste gratuito</a>
                    <ul>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Acesso ao acervo completo</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Episódios uma hora depois do lançamento</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Limite de 1 dispositivo simultâneo</p>
                        </li>
                        <li>
                            <img src="svg/blocked.svg">
                            <p>Visualização offline</p>
                        </li>
                        <li>
                            <img src="svg/blocked.svg">
                            <p>Biblioteca de música</p>
                        </li>
                        <li>
                            <img src="svg/blocked.svg">
                            <p>Desconto de 24% na mensalidade</p>
                        </li>
                    </ul>
                </div>
                <div class="product">
                    <img src="svg/level-2-member.svg"">
                    <h3>Avançado</h3>
                    <h1>R$ 00.00/mês</h1>
                    <button>Teste Gratuito</button>
                    <a href="">Pular teste gratuito</a>
                    <ul>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Acesso ao acervo completo</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Episódios uma hora depois do lançamento</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Limite de 1 dispositivo simultâneo</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Visualização offline</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Biblioteca de música</p>
                        </li>
                        <li>
                            <img src="svg/blocked.svg">
                            <p>Desconto de 24% na mensalidade</p>
                        </li>
                    </ul>
                </div>
                <div class="product">
                    <img src="svg/level-3-member.svg"">
                    <h3>Entusiasta</h3>
                    <h1>R$ 00.00/ano</h1>
                    <button>Teste Gratuito</button>
                    <a href="">Pular teste gratuito</a>
                    <ul>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Acesso ao acervo completo</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Episódios uma hora depois do lançamento</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Limite de 1 dispositivo simultâneo</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Visualização offline</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Biblioteca de música</p>
                        </li>
                        <li>
                            <img src="svg/correct.svg">
                            <p>Desconto de 24% na mensalidade</p>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            <a onclick="window.open('https://github.com/Queirozzzzzzzzzz?tab=repositories', '_blank');">Queirozzzzzzzzzz</a>
        </footer>
    </div>
</body>
</html>