<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SukiAnimes</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="js/base.js"></script>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="float-left">
          <a href="/" class="logo">
            <img src="img/logo.png" />
            <img id="logo-text" src="img/logo-text.png" />
          </a>
        </div>
        <div class="float-right">
          <nav class="navbar">
            <ul class="navbar-items">
              <a href="login" id="navbar-item"
                ><img src="svg/login.svg" />
                <li>Login</li></a
              >
              <a href="/" id="navbar-item"
                ><img src="svg/home.svg" />
                <li>Início</li></a
              >
            </ul>
            <div href="" id="menu"><img src="svg/menu.svg" /></div>
          </nav>
        </div>
      </div>
    </header>
    <footer>
      <a
        onclick="window.open('https://github.com/Queirozzzzzzzzzz?tab=repositories', '_blank');"
        >Queirozzzzzzzzzz</a
      >
    </footer>
  </body>
</html>
