<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="float-left">
                <a href="/" class="logo">
                    <img src="img/logo.png">
                    <img id="logo-text" src="img/logo-text.png">
                </a>
            </div>
            <div class="float-right">
                <a href="login" id="navbar-item">Login</a>
                <a href="catalogue" id="navbar-item">Experimente</a>
            </div>
        </div>
    </header>
    <footer>
        <a onclick="window.open('https://github.com/Queirozzzzzzzzzz?tab=repositories', '_blank');">Queirozzzzzzzzzz</a>
    </footer>
</body>
</html>