<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
  <div class="tecnical-form container login-form">
    <form action="">
      <h1>Login</h1>
      <div class="form-group">
        <input type="email" name="email" id="email" />
        <label for="email">Email</label>
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" />
        <label for="password">Password</label>
      </div>
      <button>Enter</button>
    </form>
  </div>
</main>
<script src="/js/tecnical-form.js"></script>
<%- include('partials/footer') %>
