<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
  <div class="offer-upgrade banner">
    <h1>Enjoy .</h1>
    <button onclick="scrollToBottom()">Unlock Premium</button>
  </div>
  <div class="offer-upgrade products-container">
    <div class="product">
      <img src="/svg/level-1-member.svg" />
      <h3>Basic</h3>
      <h1>$ 00.00/month</h1>
      <button>Free Trial</button>
      <a href="">Skip free trial</a>
      <ul>
        <li>
          <img src="/svg/correct.svg" />
          <p>Access to the complete collection</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Episodes one hour after release</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Limit of 1 simultaneous device</p>
        </li>
        <li>
          <img src="/svg/blocked.svg" />
          <p>Offline viewing</p>
        </li>
        <li>
          <img src="/svg/blocked.svg" />
          <p>Music library</p>
        </li>
        <li>
          <img src="/svg/blocked.svg" />
          <p>24% discount on the monthly fee</p>
        </li>
      </ul>
    </div>
    <div class="product">
      <img src="/svg/level-2-member.svg" />
      <h3>Advanced</h3>
      <h1>$ 00.00/month</h1>
      <button>Free Trial</button>
      <a href="">Skip free trial</a>
      <ul>
        <li>
          <img src="/svg/correct.svg" />
          <p>Access to the complete collection</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Episodes one hour after release</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Limit of 1 simultaneous device</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Offline viewing</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Music library</p>
        </li>
        <li>
          <img src="/svg/blocked.svg" />
          <p>24% discount on the monthly fee</p>
        </li>
      </ul>
    </div>

    <div class="product">
      <img src="/svg/level-3-member.svg" />
      <h3>Enthusiast</h3>
      <h1>$ 00.00/month</h1>
      <button>Free Trial</button>
      <a href="">Skip free trial</a>
      <ul>
        <li>
          <img src="/svg/correct.svg" />
          <p>Access to the complete collection</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Episodes one hour after release</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Limit of 1 simultaneous device</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Offline viewing</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>Music library</p>
        </li>
        <li>
          <img src="/svg/correct.svg" />
          <p>24% discount on the monthly fee</p>
        </li>
      </ul>
    </div>
  </div>
</main>
<script src="js/offer-upgrade.js"></script>
<%- include('partials/footer') %>
