<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="list playlists">
    <h1 id="title">PLAYLISTS</h1>
    <div class="lists">
      <a href="/watchlater" id="watchlater">WATCHLATER</a>
      <a href="/playlists" id="playlists">PLAYLISTS</a>
      <a href="/history" id="history">HISTORY</a>
    </div>
  </div>
</main>
<script src="/js/home.js"></script>
<%- include('partials/footer') %>
