<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="tecnical-form container register-form">
    <form action="">
      <h1>Sign Up</h1>
      <div class="form-group">
        <input type="text" name="username" id="username" />
        <label for="username">Username</label>
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" />
        <label for="email">Email</label>
      </div>
      <div class="form-group">
        <input type="password" name="password-1" id="password-1" />
        <label for="password-1">Password</label>
      </div>
      <div class="form-group">
        <input type="password" name="password-2" id="password-2" />
        <label for="password-2">Confirm Password</label>
      </div>
      <button>Enter</button>
    </form>
  </div>
</main>
<script src="/js/tecnical-form.js"></script>
<%- include('partials/footer') %>
