<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="tecnical-form container register-form">
    <form action="/auth/accounts/signup" method="POST">
      <h1>Sign Up</h1>
      <div class="form-group">
        <input type="text" name="accountname" id="accountname" />
        <label for="accountname">Username</label>
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" />
        <label for="email">Email</label>
      </div>
      <div class="form-group">
        <input type="password" name="password1" id="password1" />
        <label for="password1">Password</label>
      </div>
      <div class="form-group">
        <input type="password" name="password2" id="password2" />
        <label for="password2">Confirm Password</label>
      </div>
      <button>Enter</button>
    </form>
  </div>
</main>
<script src="/js/tecnical-form.js"></script>
<%- include('partials/footer') %>
