<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="series banner">
    <div class="info">
      <h1>Dr. Stone</h1>
      <div class="rating">
        <select name="series-grade" id="series-grade">
          <option value="undefined">Undefined</option>
          <option value="10">10. Masterpiece</option>
          <option value="9">9. Outstanding</option>
          <option value="8">8. Excellent</option>
          <option value="7">7. Very Good</option>
          <option value="6">6. Good</option>
          <option value="5">5. Decent</option>
          <option value="4">4. Average</option>
          <option value="3">3. Below Average</option>
          <option value="2">2. Mediocre</option>
          <option value="1">1. Trash</option>
        </select>
        <p id="spacement">|</p>
        <p>Average rating: <strong>8.4 (82k)</strong></p>
        <p id="spacement">|</p>
        <p>1218 reviews</p>
      </div>
      <div class="actions">
        <button class="watch-list">
          <img src="/svg/bookmark.svg" />WATCHLIST
        </button>
        <a href="" class="playlist"><img src="/svg/add.svg" />PLAYLIST</a>
      </div>
      <p>
        Several thousand years after a mysterious phenomenon that turns all of
        humanity to stone, the extraordinarily intelligent, science-driven boy,
        Senku Ishigami, awakens. Facing a world of stone and the total collapse
        of civilization, Senku makes up his mind to use science to rebuild the
        world. Starting with his super strong childhood friend Taiju Oki, who
        awakened at the same time, they will begin to rebuild civilization from
        nothing... Depicting two million years of scientific history from the
        Stone Age to present day, the unprecedented crafting adventure story is
        about to begin!
      </p>
      <div class="details">
        <div class="genres"></div>
        <table>
          <tr>
            <td>Publisher</td>
            <td>TMS Entertainment Co., Ltd.</td>
          </tr>
          <tr>
            <td>Audio</td>
            <td>Japanese, English</td>
          </tr>
          <tr>
            <td>Subtitles</td>
            <td>English</td>
          </tr>
          <tr>
            <td>Content Advisory</td>
            <td>A14, Violence, Nudity, Inappropriate Language</td>
          </tr>
        </table>
      </div>
      <div class="more-details">More details...</div>
      <div class="fewer-details" style="display: none">Fewer details...</div>
    </div>
    <div class="episode">
      <a href="/watch/dr-stone/1/1" class="preview">
        <img
          id="episode-preview"
          src="/img/previews/series-dr-stone-preview-ep-3.webp"
        />
        <img id="play-preview" src="/svg/play.svg" />
      </a>
      <button><img src="/svg/play.svg" />CONTINUE WATCHING S1 E3</button>
    </div>
  </div>
  <div class="series navigation">
    <div class="seasons">
      <select name="series-seasons" id="series-seasons">
        <option selected disabled value="">Seasons</option>
        <option value="1" data-url="/series/dr-stone/1">S1. Dr. Stone</option>
        <option value="2" data-url="/series/dr-stone/2">
          S2. Dr. Stone Season 2
        </option>
        <option value="2" data-url="/series/dr-stone/3">
          OVA. Dr. Stone Special Episode - Ryusui
        </option>
        <option value="2" data-url="/series/dr-stone/4">
          S3. Dr. Stone New World
        </option>
      </select>
    </div>
    <div class="episodes">
      <a href="" class="content-item">
        <div class="image">
          <img
            id="watched"
            src="/img/previews/series-dr-stone-preview-ep-1.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">Watched</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E1 - Stone World</p>
          <h5>05/07/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            id="watched"
            src="/img/previews/series-dr-stone-preview-ep-2.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">Watched</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E2 - King of the Stone World</p>
          <h5>05/12/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-3.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">7m left</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E3 - Weapons of Science</p>
          <h5>05/19/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-4.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E4 - Fire the Smoke Signal</p>
          <h5>05/26/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-5.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E5 - Stone World The Beginning</p>
          <h5>08/02/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-6.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E6 - Two Nations of the Stone World</p>
          <h5>08/09/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-7.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E7 - Where Two Million Years Have Gone</p>
          <h5>08/16/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-8.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E8 - Stone Road</p>
          <h5>08/23/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-9.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E9 - Let There Be the Light of Science</p>
          <h5>08/30/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-10.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E10 - A Filmsy Alliance</p>
          <h5>09/06/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-11.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E11 - Clear World</p>
          <h5>09/13/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-12.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E12 - Buddies Back to Back</p>
          <h5>09/20/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-13.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E13 - Masked Warrior</p>
          <h5>09/27/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-14.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E14 - Master of Flame</p>
          <h5>10/04/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-15.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E15 - The Culmination of Two Million Years</p>
          <h5>10/11/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-16.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E16 - A Tale for the Ages</p>
          <h5>10/18/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-17.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E17 - A Hundred Nights and a Thousand Skies</p>
          <h5>10/25/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-18.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E18 - Stone Wars</p>
          <h5>11/01/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-19.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E19 - To Modernity</p>
          <h5>11/08/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-20.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E20 - The Age of Energy</p>
          <h5>11/15/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-21.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E21 - Spartan Crafts Club</p>
          <h5>11/22/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-22.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E22 - The Treasure</p>
          <h5>11/29/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-23.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E23 - Wave of Science</p>
          <h5>12/06/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-dr-stone-preview-ep-24.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A14.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E24 - Voices Over Infinite Distance</p>
          <h5>12/13/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
    </div>
  </div>
  <div class="series reviews">
    <div class="header"></div>
    <div class="comments">
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>Osvaldo</p></a>
            </div>
            <div class="user-reviews">(78 reviews)</div>
            <div>|</div>
            <div class="rating">Rated 8 (Excellent)</div>
            <div>|</div>
            <div class="review-date">01/09/2024</div>
          </div>
          <div class="content">
            <h2 id="title">PERFECTTTTTTTT</h2>
            <p id="text">Better than yuru yuri</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="/js/series.js"></script>
<%- include('partials/footer') %>
