<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="series banner">
    <div class="info">
      <h1>Clannad</h1>
      <div class="rating"></div>
      <div class="actions">
        <button class="watch-list">
          <img src="/svg/bookmark.svg" />WATCHLIST
        </button>
        <a href="" class="playlist"><img src="/svg/add.svg" />PLAYLIST</a>
      </div>
      <p>
        Tomoya Okazaki is a third year high school student resentful of his
        life. His mother passed away from a car accident when he was younger,
        causing his father to resort to alcohol and gambling. This results in
        fights between the two until Tomoya's shoulder is injured in a fight.
        Since then, Tomoya has had distant relationships with his father,
        causing him to become a delinquent over time. While on a walk to school,
        he meets a strange girl named Nagisa Furukawa who is a year older, but
        is repeating due to illness. Due to this, she is often alone as most of
        her friends have moved on. The two begin hanging out and slowly, as time
        goes by, Tomoya finds his life shifting in a new direction.
      </p>
      <div class="details">
        <div class="genres"></div>
        <table>
          <tr>
            <td>Studios</td>
            <td>Kyoto Animation</td>
          </tr>
          <tr>
            <td>Audio</td>
            <td>Japanese, English</td>
          </tr>
          <tr>
            <td>Subtitles</td>
            <td>English</td>
          </tr>
          <tr>
            <td>Content Advisory</td>
            <td>A12, Violence, Inappropriate Language</td>
          </tr>
        </table>
      </div>
      <div class="more-details">More details...</div>
      <div class="fewer-details" style="display: none">Fewer details...</div>
    </div>
    <div class="episode">
      <a href="/watch/clannad" class="preview">
        <img id="episode-preview" src="/img/previews/series-preview-1.webp" />
        <img id="play-preview" src="/svg/play.svg" />
      </a>
      <button><img src="/svg/play.svg" />START WATCHING S1 E1</button>
    </div>
  </div>
  <div class="navigation"></div>
</main>
<script src="/js/series.js"></script>
<%- include('partials/footer') %>
