<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="series banner">
    <div class="content">
      <div class="info">
        <h1>Dr. Stone</h1>
        <div class="rating">
          <button class="watch-list">
            <img src="/svg/bookmark.svg" />WATCHLIST
          </button>
          <a href="" class="playlist"><img src="/svg/add.svg" />PLAYLIST</a>
        </div>
      </div>
      <p>
        Several thousand years after a mysterious phenomenon that turns all of
        humanity to stone, the extraordinarily intelligent, science-driven boy,
        Senku Ishigami, awakens. Facing a world of stone and the total collapse
        of civilization, Senku makes up his mind to use science to rebuild the
        world. Starting with his super strong childhood friend Taiju Oki, who
        awakened at the same time, they will begin to rebuild civilization from
        nothing... Depicting two million years of scientific history from the
        Stone Age to present day, the unprecedented crafting adventure story is
        about to begin!
      </p>
      <div class="details">
        <div class="genres"></div>
        <table>
          <tr>
            <td>Publisher</td>
            <td>TMS Entertainment Co., Ltd.</td>
          </tr>
          <tr>
            <td>Audio</td>
            <td>
              Japanese, English, Deutsch, Español (América Latina), Español
              (España), Français, Italiano, Português (Brasil), العربية
            </td>
          </tr>
          <tr>
            <td>Subtitles</td>
            <td>
              English, Deutsch, Español (América Latina), Español (España),
              Français, Italiano, Português (Brasil), Русский, العربية
            </td>
          </tr>
          <tr>
            <td>Content Advisory</td>
            <td>A14, Violence, Nudity, Inappropriate Language</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="episode">
      <div style="position: relative; padding-top: 56.25%">
        <iframe
          src="https://iframe.mediadelivery.net/embed/192198/d6618840-8076-4484-bd43-f1b6643a36ad?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
          loading="lazy"
          style="
            border: 0;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
          "
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="navigation"></div>
</main>
<script src="js/tecnical-form.js"></script>
<%- include('partials/footer') %>
