<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
  <div class="series banner">
    <div
      class="background-image"
      style="
        background-image: url(&quot;/img/previews/series-preview-1.webp&quot;);
      "
    ></div>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/img/previews/series-preview-mobile-1.webp"
      />
      <source
        media="(min-width: 601px)"
        srcset="/img/previews/series-preview-1.webp"
      />
      <img id="background-img" src="/img/previews/series-preview-1.webp" />
    </picture>
  </div>
  <div class="series head">
    <div class="info">
      <h1>Frieren: Beyond Journey's End</h1>
      <div class="rating">
        <select name="series-grade" id="series-grade">
          <option value="undefined">Undefined</option>
          <option value="10">10. Masterpiece</option>
          <option value="9">9. Outstanding</option>
          <option value="8">8. Excellent</option>
          <option value="7">7. Very Good</option>
          <option value="6">6. Good</option>
          <option value="5">5. Decent</option>
          <option value="4">4. Average</option>
          <option value="3">3. Below Average</option>
          <option value="2">2. Mediocre</option>
          <option value="1">1. Trash</option>
        </select>
        <p id="spacement">|</p>
        <p>Average rating: <strong>9.4 (82k)</strong></p>
        <p id="spacement">|</p>
        <p>1218 reviews</p>
      </div>
      <div class="actions">
        <button class="watch-list">
          <img src="/svg/bookmark.svg" />WATCHLIST
        </button>
        <a href="" class="playlist"><img src="/svg/add.svg" />PLAYLIST</a>
      </div>
      <p>
        After the party of heroes defeated the Demon King, they restored peace
        to the land and returned to lives of solitude. Generations pass, and the
        elven mage Frieren comes face to face with humanity’s mortality. She
        takes on a new apprentice and promises to fulfill old friends’ dying
        wishes. Can an elven mind make peace with the nature of life and death?
        Frieren embarks on her quest to find out.
      </p>
      <div class="details">
        <div class="genres">
          <a href="" class="genre">ADVENTURE</a
          ><a href="" class="genre">DRAMA</a
          ><a href="" class="genre">FANTASY</a>
        </div>
        <table>
          <tr>
            <td>Publisher</td>
            <td>Aniplex of America</td>
          </tr>
          <tr>
            <td>Audio</td>
            <td>Japanese, English</td>
          </tr>
          <tr>
            <td>Subtitles</td>
            <td>English</td>
          </tr>
          <tr>
            <td>Content Advisory</td>
            <td>A12, Legal Drugs, Fantasy Violence</td>
          </tr>
        </table>
      </div>
      <div class="more-details">More details...</div>
      <div class="fewer-details" style="display: none">Fewer details...</div>
    </div>
    <div class="episode">
      <a href="/series/sousou-no-frieren/watch/1/6" class="preview">
        <img
          id="episode-preview"
          src="/img/previews/series-sousou-no-frieren-preview-ep-6.webp"
        />
        <img id="play-preview" src="/svg/play.svg" />
      </a>
      <button
        onclick="window.location.href='/series/sousou-no-frieren/watch/1/6'"
      >
        <img src="/svg/play.svg" />CONTINUE WATCHING S1 E6
      </button>
    </div>
  </div>
  <div class="series spacement"><div class="border"></div></div>
  <div class="series navigation">
    <div class="seasons">
      <select name="series-seasons" id="series-seasons">
        <option selected disabled value="">Seasons</option>
        <option value="1" data-url="/series/sousou-no-frieren/1">
          S1. Frieren: Beyond Journey's End
        </option>
      </select>
    </div>
    <div class="episodes">
      <a href="" class="content-item">
        <div class="image">
          <img
            id="watched"
            src="/img/previews/series-sousou-no-frieren-preview-ep-1.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">Watched</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E1 - The Journey's End</p>
          <h5>09/29/2023</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            id="watched"
            src="/img/previews/series-sousou-no-frieren-preview-ep-2.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">Watched</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E2 - It Didn't Have to Be Magic</p>
          <h5>09/29/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            id="watched"
            src="/img/previews/series-sousou-no-frieren-preview-ep-3.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">Watched</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E3 - Killing Magic</p>
          <h5>09/29/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            id="watched"
            src="/img/previews/series-sousou-no-frieren-preview-ep-4.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">Watched</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E4 - The Land Where Souls Rest</p>
          <h5>09/29/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            id="watched"
            src="/img/previews/series-sousou-no-frieren-preview-ep-5.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">Watched</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E5 - Phantoms of the Dead</p>
          <h5>10/06/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="/series/sousou-no-frieren/watch/1/6" class="content-item">
        <div class="image">
          <img src="/img/previews/series-sousou-no-frieren-preview-ep-6.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">8m left</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E6 - The Hero of the Village</p>
          <h5>10/13/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-sousou-no-frieren-preview-ep-7.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E7 - Like a Fairy Tale</p>
          <h5>10/20/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-sousou-no-frieren-preview-ep-8.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E8 - Frieren the Slayer</p>
          <h5>10/27/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img src="/img/previews/series-sousou-no-frieren-preview-ep-9.webp" />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E9 - Aura the Guillotine</p>
          <h5>11/03/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-10.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E10 - A Powerful Mage</p>
          <h5>11/10/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-11.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E11 - Winter in the Northen Lands</p>
          <h5>11/17/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-12.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E12 - A Real Hero</p>
          <h5>11/24/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-13.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E13 - Aversion to One's Own Kind</p>
          <h5>12/01/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-14.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E14 - Privilege of the Young</p>
          <h5>12/08/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-15.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E15 - Smells Like Trouble</p>
          <h5>12/15/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-16.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E16 - Long-Lived Friends</p>
          <h5>12/22/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
      <a href="" class="content-item">
        <div class="image">
          <img
            src="/img/previews/series-sousou-no-frieren-preview-ep-17.webp"
          />
          <img id="play-preview" src="/svg/play.svg" />
          <div class="details">
            <img id="age-rating" src="/svg/A12.svg" />
            <p id="video-length">24m</p>
          </div>
        </div>
        <div class="info">
          <p>S1 E17 - Take Care</p>
          <h5>01/05/2019</h5>
          <h6>Dub English | Sub</h6>
        </div>
      </a>
    </div>
  </div>
  <div class="series spacement"><div class="border"></div></div>
  <div class="series reviews">
    <div class="write-review">
      <h2>Write your own review</h2>
      <form action="">
        <label for="review-title">Title</label>
        <input type="text" name="review-title" id="review-title" />
        <textarea
          name="write-review-textarea"
          id="write-review-textarea"
          rows="5"
        ></textarea>
        <div class="buttons">
          <button type="reset">CANCEL</button>
          <button type="submit">POST</button>
        </div>
      </form>
    </div>
    <div class="header">
      <div class="review-count">441 Reviews</div>
      <div id="spacement">|</div>
      <div class="rating">9.4 (82k)</div>
      <div class="filter">
        <img src="/svg/filter.svg" />
        <div class="options" style="display: none">
          <button id="newest">Newest</button>
          <button id="oldest">Oldest</button>
        </div>
      </div>
    </div>
    <div class="reviews-comments">
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>Osvaldo</p></a>
            </div>
            <div class="user-reviews">(78 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 10 (Masterpiece)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/09/2024</div>
          </div>
          <div class="content">
            <h2 id="title">PERFECTTTTTTTT</h2>
            <p id="text">PERFECTTTTTTTT</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>17</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>Alex_Rocks23</p></a>
            </div>
            <div class="user-reviews">(42 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 9 (Outstanding)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/10/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Amazing Animation!</h2>
            <p id="text">
              Sousou no Friren's animation is mind-blowing. Can't get enough!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>AnimeFanatic99</p></a>
            </div>
            <div class="user-reviews">(56 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 10 (Masterpiece)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/11/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Hooked from Episode 1!</h2>
            <p id="text">
              Sousou no Friren is pure gold. Instantly addicted to the
              storyline!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>MysteryViewer42</p></a>
            </div>
            <div class="user-reviews">(23 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 8 (Excellent)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/12/2024</div>
          </div>
          <div class="content">
            <h2 id="title">A Visual Delight!</h2>
            <p id="text">
              Incredible animation quality in Sousou no Friren. Kudos to the
              animators!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>SakuraDreamer</p></a>
            </div>
            <div class="user-reviews">(34 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 9 (Outstanding)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/13/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Captivating Storyline!</h2>
            <p id="text">
              Sousou no Friren had me gripped from the first episode. Can't wait
              for more!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>EpicOtaku98</p></a>
            </div>
            <div class="user-reviews">(45 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 10 (Masterpiece)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/14/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Anime of the Year!</h2>
            <p id="text">
              Sousou no Friren deserves all the praise. Truly a masterpiece!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>CuriousMind23</p></a>
            </div>
            <div class="user-reviews">(67 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 9 (Outstanding)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/15/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Excellent Character Development!</h2>
            <p id="text">
              Sousou no Friren keeps getting better with each episode. Fantastic
              character arcs!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>GamingGeek24</p></a>
            </div>
            <div class="user-reviews">(29 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 8 (Excellent)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/16/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Fire OST!</h2>
            <p id="text">
              Sousou no Friren's OST is on another level. Absolutely love the
              music!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>FilmBuff77</p></a>
            </div>
            <div class="user-reviews">(38 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 9 (Outstanding)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/17/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Meticulously Crafted Scenes!</h2>
            <p id="text">
              Every scene in Sousou no Friren feels like a visual masterpiece.
              Brilliantly crafted!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>AdventureSeeker45</p></a>
            </div>
            <div class="user-reviews">(51 reviews)</div>
            <div class="spacement">|</div>
            <div class="rating">Rated 10 (Masterpiece)</div>
            <div class="spacement">|</div>
            <div class="review-date">01/18/2024</div>
          </div>
          <div class="content">
            <h2 id="title">Edge of My Seat!</h2>
            <p id="text">
              Sousou no Friren has me on the edge of my seat. More, please!
            </p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="load-more">Load More</button>
    </div>
  </div>
  <div class="series spacement"><div class="border"></div></div>
</main>
<script src="/js/series.js"></script>
<%- include('partials/footer') %>
