<%- include('partials/head') %> <%- include('partials/header') %>
<main>
  <div class="series episode paused captions" data-volume-level="high">
    <div class="video-controls">
      <div class="timeline-container">
        <div class="timeline">
          <div class="thumb-indicator"></div>
        </div>
      </div>
      <div class="play-pause-area"></div>
      <div class="controls">
        <div class="left">
          <button class="play-pause-btn">
            <img class="play-icon" src="/svg/play.svg" />
            <img class="paused-icon" src="/svg/pause.svg" />
          </button>
          <div class="volume-container">
            <button class="mute-btn">
              <img class="volume-mute-icon" src="/svg/0-volume.svg" />
              <img class="volume-low-icon" src="/svg/50-volume.svg" />
              <img class="volume-high-icon" src="/svg/100-volume.svg" />
            </button>
            <input
              class="slider"
              type="range"
              min="0"
              max="1"
              step="any"
              value="0.7"
            />
          </div>
          <div class="duration-container">
            <div class="current-time">00:00</div>
            /
            <div class="total-time"></div>
          </div>
          <button class="backward-btn"><img src="/svg/backward.svg" /></button>
          <button class="forward-btn"><img src="/svg/forward.svg" /></button>
        </div>
        <div class="right">
          <div class="quality wide">
            <button id="choose-quality">1080p</button>
            <div class="options" style="display: none">
              <button class="full-hd-btn">1080p</button>
              <button class="hd-btn">720p</button>
              <button class="sd-btn">480p</button>
            </div>
          </div>
          <button class="speed-btn wide">1x</button>
          <button class="captions-btn">
            <img src="/svg/caption.svg" />
          </button>
          <button class="picture-in-picture-btn">
            <img
              class="picture-in-picture-in-icon"
              src="/svg/picture-in-picture-in.svg"
            />
            <img
              class="picture-in-picture-out-icon"
              src="/svg/picture-in-picture-out.svg"
            />
          </button>
          <button class="full-screen-btn">
            <img class="full-screen-in-icon" src="/svg/full-screen-in.svg" />
            <img class="full-screen-out-icon" src="/svg/full-screen-out.svg" />
          </button>
        </div>
      </div>
    </div>
    <video class="video">
      <source src="/videos/gseryh.mp4" />
      <track kind="subtitles" srclang="en" src="/videos/gseryh-en.vtt" />
      This browser don't support .mp4 files.
    </video>
  </div>
  <div class="series head">
    <div class="info">
      <a id="series-link" href="/series/sousou-no-frieren/1"
        >Frieren: Beyond Journey's End</a
      >
      <h1>S1 E6 - The Hero of the Village</h1>
      <div class="rating">
        <select name="episode-grade" id="episode-grade">
          <option value="undefined">Rating</option>
          <option value="5">5. Excellent</option>
          <option value="4">4. Good</option>
          <option value="3">3. Fair</option>
          <option value="2">2. Bad</option>
          <option value="1">1. Poor</option>
        </select>
      </div>
      <p>
        The world celebrates the Demon King's defeat at the hands of the Hero
        and his companions. Now that their great adventure is over, what will
        Frieren the mage do next?
      </p>
      <div class="details">
        <div class="genres">
          <a href="" class="genre">ADVENTURE</a
          ><a href="" class="genre">DRAMA</a
          ><a href="" class="genre">FANTASY</a>
        </div>
        <table>
          <tr>
            <td>Publisher</td>
            <td>Aniplex of America</td>
          </tr>
          <tr>
            <td>Audio</td>
            <td>Japanese, English</td>
          </tr>
          <tr>
            <td>Subtitles</td>
            <td>English</td>
          </tr>
          <tr>
            <td>Content Advisory</td>
            <td>A12, Legal Drugs, Fantasy Violence</td>
          </tr>
        </table>
      </div>
      <div class="more-details">More details...</div>
      <div class="fewer-details" style="display: none">Fewer details...</div>
    </div>
    <div class="episode">
      <a href="/series/sousou-no-frieren/watch/1/1" class="preview">
        <img
          id="episode-preview"
          src="/img/previews/series-sousou-no-frieren-preview-ep-7.webp"
        />
        <img id="play-preview" src="/svg/play.svg" />
      </a>
      <button
        onclick="window.location.href='/series/sousou-no-frieren/watch/1/6'"
      >
        <img src="/svg/play.svg" />NEXT EPISODE S1 E7
      </button>
    </div>
  </div>
  <div class="series spacement"><div class="border"></div></div>
  <div class="series comments">
    <div class="write-comment">
      <h2>Write a comment</h2>
      <form action="">
        <textarea
          name="write-review-textarea"
          id="write-review-textarea"
          rows="5"
        ></textarea>
        <div class="buttons">
          <button type="reset">CANCEL</button>
          <button type="submit">POST</button>
        </div>
      </form>
    </div>
    <div class="header">
      <div class="comments-count">7 comments</div>
      <div id="spacement">|</div>
      <div class="filter">
        <img src="/svg/filter.svg" />
        <div class="options" style="display: none">
          <button id="newest">Newest</button>
          <button id="oldest">Oldest</button>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>Osvaldo</p></a>
            </div>

            <div class="review-date">01/09/2024</div>
          </div>
          <div class="content">
            <p id="text">perfect</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>Alex_Rocks23</p></a>
            </div>

            <div class="review-date">01/10/2024</div>
          </div>
          <div class="content">
            <p id="text">nice!</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>AnimeFanatic99</p></a>
            </div>

            <div class="review-date">01/11/2024</div>
          </div>
          <div class="content">
            <p id="text">never get bored of the op</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>MysteryViewer42</p></a>
            </div>

            <div class="review-date">01/12/2024</div>
          </div>
          <div class="content">
            <p id="text">tbh, one of my favorite episodes</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>SakuraDreamer</p></a>
            </div>

            <div class="review-date">01/13/2024</div>
          </div>
          <div class="content">
            <p id="text">ed gets better every episode</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>EpicOtaku98</p></a>
            </div>

            <div class="review-date">01/14/2024</div>
          </div>
          <div class="content">
            <p id="text">so chill</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="left">
          <div class="profile">
            <a href="">
              <img id="logo" src="/img/previews/series-reviews-logo-1.webp" />
            </a>
          </div>
        </div>
        <div class="right">
          <div class="user-info">
            <div class="username">
              <a href=""><p>CuriousMind23</p></a>
            </div>

            <div class="review-date">01/15/2024</div>
          </div>
          <div class="content">
            <p id="text">waiting for a bad episode</p>
            <div class="actions">
              <div class="like">
                <img src="/svg/like.svg" />
                <p>1</p>
              </div>
              <div class="dislike">
                <img src="/svg/dislike.svg" />
                <p>0</p>
              </div>
              <div class="more">
                <img src="/svg/more.svg" />
                <p>More</p>
                <div class="options" style="display: none">
                  <p id="spoiler">It's a spoiler</p>
                  <p id="report">Report</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="load-more">Load More</button>
    </div>
  </div>
  <div class="series spacement"><div class="border"></div></div>
</main>
<script src="/js/series.js"></script>
<script src="/js/watch.js"></script>
<%- include('partials/footer') %>
