/* Mobile styles */
@media screen and (max-width: 600px) {
  /* NAVBAR */

  .navbar-items {
    position: fixed;
    right: 0vw;
    width: 100vw;
    height: 92vh;
    overflow-y: scroll;
  }

  .navbar-section {
    width: 95vw;
  }

  /* OFFER UPGRADE */

  .offer-upgrade.banner {
    background-image: url("/img/offer-upgrade-banner-mobile.webp");
  }

  .offer-upgrade.banner button {
    width: 35vw;
    height: 12vw;
  }

  .offer-upgrade.banner h1 {
    font-size: 12vw;
  }

  .offer-upgrade.products-container {
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .offer-upgrade.products-container .product {
    margin: 1em;
  }

  .offer-upgrade .product button {
    height: 15vw;
  }

  /* TECNICAL FORM */

  .tecnical-form form {
    position: absolute;
    width: 100%;
    background: none;
    justify-content: center;
  }

  /* HOME */

  .category-header {
    z-index: 1;
    margin: 0.6em;
    position: relative;
    display: block;
  }

  .category-header a {
    padding: 0 1em 0 1em;
    background-color: var(--purple-second);
  }

  .category-header a:hover {
    padding: 0 1.1em 0 1.1em;
    background-color: var(--purple-third);
  }

  .hidden-preview {
    opacity: 1;
    background-color: var(--no-color);
  }

  .hidden-preview .play-img {
    opacity: 0;
  }

  /* banner */

  .home-preview.next-previous .age-rating {
    width: 20px;
  }

  .home-preview.suggestions .age-rating {
    width: 25px;
  }

  .home-preview.banner-carousel .carousel-image #background-img {
    display: block;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }

  .home-preview.banner-carousel h2,
  .home-preview.banner-carousel h1 {
    font-size: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .home-preview.banner-carousel .interact button {
    display: flex;
    margin-right: 1em;
    padding: 1em;
    height: 4em;
  }

  .home-preview .carousel-content {
    top: 0;
    left: 0;
    margin: 0;
    height: 66vh;
    width: 100vw;
    padding: 0;
    justify-content: end;
    align-items: center;
  }

  .home-preview.banner-carousel .carousel-content #title-img {
    height: auto;
    max-width: 90%;
    max-height: 50%;
    margin: 1em 0 1em 0;
  }

  /* mini-banners -> previous/next */

  .home-preview.next-previous {
    height: 300px;
    overflow-x: scroll;

    display: block;
    margin-right: 0.6em;
  }

  .home-preview.next-previous #next,
  .home-preview.next-previous #previous {
    z-index: 1;
    top: -60px;
    height: 30px;
    padding: 1%;
    background-color: var(--purple-base);
    border-radius: 20px;
  }

  .home-preview.next-previous #next {
    right: 10px;
  }

  .home-preview.next-previous #previous {
    left: auto;
    right: 60px;
  }

  .home-preview.next-previous .content {
    transform: translateX(0px);
  }

  .home-preview.next-previous .content-item {
    margin-left: 0.6em;
    width: 150px;
    height: 225px;
  }

  .home-preview.next-previous .content-item #cover {
    width: 150px;
    height: 225px;
    max-width: none;
  }

  .home-preview.next-previous .add-to-watch-list {
    width: 30px;
    height: 30px;
  }

  .home-preview.suggestions #next,
  .home-preview.suggestions #previous {
    padding: 1%;
  }

  /* navigator */

  .home-preview.navigator {
    padding: 0;
  }

  .home-preview.navigator .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-preview.navigator button {
    height: 3em;
  }

  /* mini-banners */

  .home-preview.video .add-to-watch-list {
    width: 25px;
    height: 25px;
  }

  .home-preview.video .content {
    margin: 1em;
  }

  .home-preview.video .video-preview #thumbnail {
    width: 220px;
  }

  .home-preview.video {
    height: 180px;
  }

  /* SERIES */

  .series.reviews,
  .series.navigation,
  .series.banner {
    display: block;
    padding: 0 0.5em 0 0.5em;
  }

  /* info */

  .series .info {
    width: 100%;
  }

  .series .info .rating p {
    font-size: 0.7em;
  }

  .series .info .rating p strong {
    font-size: 1em;
  }

  .series .info .actions {
    width: 50%;
  }

  .series .info .fewer-details {
    bottom: auto;
  }

  /* episode */

  .series .episode {
    margin: 3em 0 1em 0;
  }

  .series .episode .preview {
    display: none;
  }

  .series .episode button {
    width: 90%;
  }

  /* navigation */

  /* SERIES */

  /* episodes */

  .series.navigation .seasons select {
    width: 25%;
    border-radius: 3px;
  }

  .series.navigation .episodes {
    display: flex;
    flex-direction: column;
  }

  .series.navigation .episodes .content-item {
    width: 100%;
    display: flex;
    margin-bottom: 0.5em;
  }

  .series.navigation .episodes .content-item .image {
    height: 25vw;
    margin-right: 0.5em;
  }

  .series.navigation .episodes .content-item .details #age-rating {
    width: 20px;
    height: 20px;
  }

  .series.navigation .episodes .content-item .details #video-length {
    font-size: 0.8em;
  }

  .series.navigation .episodes .content-item .info {
    padding: 0;
  }
}
