/* Notebook styles */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  /* NAVBAR */

  .navbar-items {
    width: 25vw;
    right: 7vw;
  }

  .navbar-section {
    width: 24vw;
  }

  /* HOME */

  /* mini-banners -> previous/next */

  /* mini-banners */

  .home-preview.video .content {
    grid-template-columns: repeat(5, 1fr);
  }

  /* SERIES */

  .series .info {
    height: 38vh;
  }

  .series .info .more-details {
    top: 38vh;
  }

  /* navigation */
}
