@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* BASE */

:root {
    --purple-base: #4D307F;
    --purple-second: #603e9b;
    --purple-third: #382C4C;
    --gray-base: #2D2A33;
    --gray-second: #35303d;
    --black-base: #1B1B1B;
    --white-base: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--white-base);
}

body {
    background-color: var(--gray-base);
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: var(--purple-base);
    height: 5em;
}

button {
    padding: 1em 3em 1em 3em;
    font-size: 1em;
    background-color: var(--purple-second);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    filter: brightness(150%);
}

a {
    text-decoration: none;
}

footer {
    background-color: var(--purple-base);
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

main {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    height: 100%;
    width: 10%;
    margin-right: 5em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.navbar .logo {
    align-items: center;
}

.navbar .logo img{
    width: 4em;
    border-radius: 50%;
    margin-top: .3em;
}

#logo-text {
    width: 14em;
    border-radius: 0;
    margin-bottom: .5em;
}

#navbar-item {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

#navbar-item:hover {
    filter: contrast(200%);
}

/* LANDING PANGE */

.news {
    background-color: var(--gray-second);
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news img {
    height: 100%;
}

.news h1 {
    position: absolute;
    font-size: 4em;
}

.news button {
    position: absolute;
    margin-top: 10em;
}

.product-comparison {
    background-color: var(--gray-second);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.product-comparison h1 {
    position: absolute;
    font-size: 2.5em;
    margin-top: 1em;
}

.product {
    background-color: var(--gray-base);
    position: relative;
    width: 20%;
    height: 75%;
    top: 15%;
    margin: 0 1em 0 1em;
    display: block;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
}

.product img {
    height: 15%;
    margin: 1em;
}

.product h1 {
    position: relative;
    margin: .5em;
    font-size: 2em;
}

.product button {
    background-color: var(--black-base);
    margin: 0em 20% 5% 20%;
}

.product button:hover {
    filter: brightness(150%);
    background-color: var(--purple-base);
}

.product a {
    color: gray;
}

.product ul {
    list-style-type: none;
}

.product ul img {
    width: 5%;
}

.product li {
    display: flex;
    align-items: center;
}

/* ATTRIBUTES */

.no-display {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}