@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

:root {
  /* colors */
  --purple-base: #4d307f;
  --purple-second: #603e9b;
  --purple-third: #382c4c;
  --gray-base: #2d2a33;
  --gray-second: #242229;
  --gray-third: #69686b;
  --gray-forth: #3c3a42;
  --black-base: #1b1b1b;
  --white-base: #f5f5f5;
  --no-color: rgba(0, 0, 0, 0);
  --black: black;
  --half-black: rgba(0, 0, 0, 0.5);
  --half-half-black: rgba(0, 0, 0, 0.25);
  --85-black: rgba(0, 0, 0, 0.85);

  /* dimensions */
  --col-count: 4;
  --scroll-blocked: hidden;
}

/* BASE */

* {
  margin: 0;
  padding: 0;
  color: var(--white-base);
  font-family: "Poppins", sans-serif;
  transition: 0.25s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 108vh;
  background-color: var(--black);
}

main {
  flex: 1;
  overflow-y: visible;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer,
header {
  background-color: var(--purple-base);
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

footer {
  justify-content: center;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2vh;
}

button {
  background-color: var(--purple-base);
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  filter: contrast(125%);
}

html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--gray-second);
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--gray-forth);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--purple-base) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--white-base) !important;
}

/* NAVBAR */

.logo-container,
.logo-container a,
.navbar-container {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo,
#logo-text {
  height: 75%;
  margin-right: 1%;
}

#logo {
  border-radius: 50%;
}

.navbar-container img {
  cursor: pointer;
}

#navbar-icon {
  height: 100%;
}

#search-icon {
  height: 35%;
  margin: 1em;
}

#navbar-icon:hover,
#navbar-icon.active {
  background-color: var(--gray-second);
}

.navbar-items {
  z-index: 100;
  display: none;
  position: absolute;
  top: 8vh;
  right: 7vw;
  width: 15vw;
  justify-content: center;
  padding: 0 0 1% 0;
  background-color: var(--gray-second);
}

.navbar-items.active {
  display: flex;
}

.navbar-items ul {
  justify-content: center;
}

.navbar-section {
  width: 14vw;
  border-bottom: 0.1em solid var(--gray-third);
}

.navbar-items a {
  display: flex;
  align-items: center;
  padding: 1em;
}

.navbar-items a:hover {
  background-color: var(--gray-base);
}

.navbar-items a p {
  padding-left: 1em;
}

.navbar-section button {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  width: 100%;
  height: 5vh;
}

.navbar-section img {
  height: 3vh;
}

.navbar-items .profile-picture img {
  height: 8vh;
}

.profile-picture img {
  border-radius: 50%;
}

/* OFFER UPGRADE */

.offer-upgrade.products-container,
.offer-upgrade.banner {
  display: flex;
  background-color: var(--gray-second);
  min-height: 66vh;
  background-size: cover;
}

.offer-upgrade.banner {
  background-image: url("/img/offer-upgrade-banner.webp");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.offer-upgrade.banner button {
  width: 15vw;
  height: 5vh;
}

.offer-upgrade.banner h1 {
  font-size: 4em;
}

.offer-upgrade.products-container {
  padding: 5vh 15vw 5vh 15vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw;
}

.offer-upgrade .product {
  background-color: var(--gray-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer-upgrade .product button {
  width: 50%;
  height: 5vh;
}

.offer-upgrade .product a {
  margin: 1em;
}

.offer-upgrade .product img {
  height: 10vh;
}

.offer-upgrade .product li {
  display: flex;
  padding: 1rem;
}

.offer-upgrade .product li p {
  padding-left: 0.5em;
}

.offer-upgrade .product li img {
  height: 3vh;
}

/* TECNICAL FORM */

.tecnical-form.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-image: url("/img/login-background-image.webp");
}

.register-form {
  background-image: url("/img/register-background-image.webp");
}

.tecnical-form form {
  background-color: var(--half-black);
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.1em;
  padding: 1em;
}

.tecnical-form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin: 5% 0 0 50%;
}

.tecnical-form h1 {
  font-size: 3em;
}

.tecnical-form input {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  background-color: var(--no-color);
  border: none;
  border-bottom: 0.1vh solid var(--gray-forth);
  font-size: 1em;
}

.tecnical-form input:focus {
  outline: none;
  border-color: var(--purple-base);
}

.tecnical-form label {
  position: absolute;
  margin-bottom: 1em;
}

.tecnical-form input:focus + label {
  font-size: 1.5em;
  color: var(--purple-second);
}

.tecnical-form button {
  margin-top: 3em;
  padding: 1em;
  width: 50%;
}

/* HOME */

.home-preview {
  position: relative;
  background-color: var(--no-color);
  width: 100%;
  margin-bottom: 5vh;
}

.category-header {
  z-index: 1;
  margin: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header a {
  padding: 0 1em 0 1em;
  background-color: var(--purple-second);
}

.category-header a:hover {
  padding: 0 1.1em 0 1.1em;
  background-color: var(--purple-third);
}

.hidden-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-color: var(--half-black);
}

.hidden-preview.active {
  opacity: 1;
}

/* banner */

.home-preview.banner-carousel {
  position: absolute;
  height: 66vh;
  background-color: var(--no-color);
  overflow: visible;
}

.home-preview.banner-carousel.spacement {
  position: relative;
  height: 66vh;
}

.home-preview.banner-carousel.gradient {
  position: absolute;
  height: 95vh;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    var(--half-black),
    var(--85-black),
    var(--black)
  );
}

.home-preview.banner-carousel .carousel-image {
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out;
}

.home-preview.banner-carousel .carousel-image img {
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
}

.home-preview.banner-carousel .carousel-content #title-img {
  object-fit: contain;
  min-width: 0;
  max-width: 75%;
  max-height: 100%;
  margin: 1em 0 1em 0;
}

.home-preview.banner-carousel .carousel-image.active {
  opacity: 1;
}

.home-preview .carousel-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1em;
  border-radius: 3px;
  top: 17vh;
  left: 3vw;
  height: 33vh;
  justify-content: end;
  align-items: start;
  z-index: 1;
}

.home-preview.banner-carousel h2,
.home-preview.banner-carousel h1 {
  font-size: 5em;
}

.home-preview.banner-carousel .interact {
  display: flex;
}

.home-preview.banner-carousel .interact button {
  display: flex;
  margin-right: 1em;
  padding: 1em;
  height: 5vh;
  width: fit-content;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.home-preview.banner-carousel .interact button#big-icon {
  padding: 0.5em;
}

.home-preview.banner-carousel .interact img {
  min-width: 0%;
  height: 100%;
}

.home-preview h5 {
  color: var(--gray-forth);
}

/* mini-banners -> previous/next */

.home-preview #title,
.home-preview #title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home-preview.suggestions,
.home-preview.aired-today {
  display: grid;
  height: 450px;
  overflow: hidden;
}

.home-preview.suggestions .content-next-previous,
.home-preview.aired-today .content-next-previous {
  display: flex;
  width: 94%;
  height: 100%;

  transition: all 0.4s ease-in-out 0s;
}

.home-preview.suggestions .content-item,
.home-preview.aired-today .content-item {
  display: inline-flex;
  margin-left: 1em;
  width: 250px;
  height: 375px;
}

.home-preview.suggestions .content-item {
  height: 475px;
  width: 350px;
}

.home-preview.suggestions .content-item img,
.home-preview.aired-today .content-item img {
  height: 100%;
}

.home-preview.suggestions #next,
.home-preview.suggestions #previous,
.home-preview.aired-today #next,
.home-preview.aired-today #previous {
  background-color: var(--half-half-black);
  height: 50px;
  padding: 162.5px 0 162.5px 0;
  position: absolute;
  top: 0;
  margin: auto 0;
}

.home-preview.suggestions #next,
.home-preview.suggestions #previous {
  padding: 212.5px 0 212.5px 0;
}

.home-preview.suggestions #next:hover,
.home-preview.suggestions #previous:hover,
.home-preview.aired-today #next:hover,
.home-preview.aired-today #previous:hover {
  cursor: pointer;
  background-color: var(--half-black);
}

.home-preview.suggestions #previous,
.home-preview.aired-today #previous {
  left: 0;
}

.home-preview.suggestions #next,
.home-preview.aired-today #next {
  right: 0;
}

.home-preview.suggestions {
  height: 550px;
}

/* navigator */

.home-preview.navigator {
  margin: 0;
  padding: 1em 0 1em 0;
}

.home-preview.navigator .content {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.home-preview.navigator button {
  width: 100%;
  height: 5vh;
  font-family: "Lato", sans-serif;
  font-size: large;
}

/* mini-banners */

.home-preview.watch-list,
.home-preview.keep-watching {
  height: 265px;
}

.home-preview.watch-list .content,
.home-preview.keep-watching .content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  margin: 1em 0 1em 1em;
  overflow: hidden;
}

.home-preview.watch-list .content-item,
.home-preview.keep-watching .content-item {
  height: 100%;
  width: 100%;
}

.home-preview.watch-list .video-preview,
.home-preview.keep-watching .video-preview {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.home-preview.keep-watching .video-preview img {
  min-width: 100%;
  min-height: 100%;
}

.home-preview.keep-watching .video-preview .progress-bar-active,
.home-preview.keep-watching .video-preview .progress-bar-base,
.home-preview.keep-watching .video-preview .video-length {
  position: absolute;
  bottom: 0;
  background-color: var(--half-black);
}

.home-preview.watch-list .play-img,
.home-preview.keep-watching .video-preview .play-img,
.home-preview.watch-list .add-to-list,
.home-preview.keep-watching .video-preview .add-to-list,
.home-preview.watch-list .age-rating,
.home-preview.keep-watching .video-preview .age-rating {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
}

.home-preview.watch-list .play-img img,
.home-preview.keep-watching .video-preview .play-img img,
.home-preview.watch-list .add-to-list img,
.home-preview.keep-watching .video-preview .add-to-list img,
.home-preview.watch-list .age-rating img,
.home-preview.keep-watching .video-preview .age-rating img {
  width: 100%;
  height: 100%;
}

.home-preview.watch-list .age-rating,
.home-preview.keep-watching .video-preview .age-rating {
  left: 5px;
}

.home-preview.watch-list .add-to-list,
.home-preview.keep-watching .video-preview .add-to-list {
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.home-preview.watch-list .play-img,
.home-preview.keep-watching .video-preview .play-img {
  top: 5%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 10% 0 10% 0;
  border-radius: 50%;
}

.home-preview.watch-list .add-to-list:hover,
.home-preview.keep-watching .video-preview .add-to-list:hover {
  background-color: var(--purple-second);
}

.home-preview.keep-watching .video-preview .video-length {
  right: 5px;
  bottom: 10px;
  padding: 0.15em;
}

.home-preview.keep-watching .video-preview .progress-bar-active,
.home-preview.keep-watching .video-preview .progress-bar-base {
  width: 100%;
  height: 5px;
}

.home-preview.keep-watching .video-preview .progress-bar-active {
  width: 0;
  background-color: var(--purple-base);
}

.home-preview.keep-watching .content-item h5,
.home-preview.keep-watching .content-item p,
.home-preview.keep-watching .content-item h6 {
  margin-top: 1%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* RESPONSIVE */

/* Mobile styles */
@media screen and (max-width: 600px) {
  /* NAVBAR */

  .navbar-items {
    position: fixed;
    right: 0vw;
    width: 100vw;
    height: 92vh;
    overflow-y: scroll;
  }

  .navbar-section {
    width: 95vw;
  }

  /* OFFER UPGRADE */

  .offer-upgrade.banner {
    background-image: url("/img/offer-upgrade-banner-mobile.webp");
  }

  .offer-upgrade.banner button {
    width: 35vw;
    height: 12vw;
  }

  .offer-upgrade.banner h1 {
    font-size: 12vw;
  }

  .offer-upgrade.products-container {
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .offer-upgrade.products-container .product {
    margin: 1em;
  }

  .offer-upgrade .product button {
    height: 15vw;
  }

  /* TECNICAL FORM */

  .tecnical-form form {
    position: absolute;
    width: 100%;
    background: none;
    justify-content: center;
  }

  /* HOME */

  .category-header {
    z-index: 1;
    margin: 1em;
    position: relative;
    display: block;
  }

  .category-header a {
    padding: 0 1em 0 1em;
    background-color: var(--purple-second);
  }

  .category-header a:hover {
    padding: 0 1.1em 0 1.1em;
    background-color: var(--purple-third);
  }

  .hidden-preview {
    opacity: 1;
    background-color: var(--no-color);
  }

  .hidden-preview .play-img {
    opacity: 0;
  }

  /* banner */

  .home-preview.banner-carousel .carousel-image #background-img {
    display: block;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }

  .home-preview.banner-carousel h2,
  .home-preview.banner-carousel h1 {
    font-size: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .home-preview.banner-carousel .interact button {
    display: flex;
    margin-right: 1em;
    padding: 1em;
    height: 4em;
  }

  .home-preview .carousel-content {
    top: 0;
    left: 0;
    margin: 0;
    height: 66vh;
    width: 100vw;
    padding: 0;
    justify-content: end;
    align-items: center;
  }

  .home-preview.banner-carousel .carousel-content #title-img {
    height: auto;
    max-width: 90%;
    max-height: 50%;
    margin: 1em 0 1em 0;
  }

  /* mini-banners -> previous/next */

  .home-preview.suggestions,
  .home-preview.aired-today {
    height: 300px;
    overflow-x: scroll;
    display: block;
    margin-right: 0.6em;
  }

  .home-preview.suggestions #next,
  .home-preview.suggestions #previous,
  .home-preview.aired-today #next,
  .home-preview.aired-today #previous {
    display: none;
  }

  .home-preview.suggestions .content-item,
  .home-preview.aired-today .content-item {
    margin-left: 0.6em;
    width: 150px;
    height: 225px;
  }

  /* navigator */

  .home-preview.navigator .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-preview.navigator button {
    height: 3em;
  }

  /* mini-banners */

  .home-preview.keep-watching {
    height: 235px;
  }
}

/* Tablet and 90° mobile styles */

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* BASE */

  footer,
  header {
    height: 12vh;
  }

  footer a {
    font-size: 2vw;
  }

  /* NAVBAR */

  .navbar-items {
    position: fixed;
    right: 0vw;
    top: 12vh;
    width: 100vw;
    height: 87vh;
    overflow-y: scroll;
  }

  .navbar-section {
    width: 95vw;
  }

  .navbar-section img {
    height: 3vw;
  }

  .navbar-section button {
    height: 5vw;
  }

  .navbar-items .profile-picture img {
    height: 8vw;
  }

  /* OFFER UPGRADE */

  .offer-upgrade.banner button {
    width: 20vw;
    height: 8vw;
  }

  .offer-upgrade.banner h1 {
    font-size: 5vw;
  }

  .offer-upgrade.products-container {
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .offer-upgrade.products-container .product {
    margin: 1em 10em 1em 10em;
  }

  .offer-upgrade .product button {
    height: 15vh;
  }

  /* TECNICAL FORM */

  .tecnical-form form {
    width: 100%;
  }

  /* HOME */

  .hidden-preview {
    opacity: 1;
    background-color: var(--no-color);
  }

  .hidden-preview .play-img {
    opacity: 0;
  }

  /* banner */

  .home-preview.home-preview.banner-carousel .carousel-image {
    justify-content: center;
  }

  .home-preview.banner-carousel h2,
  .home-preview.banner-carousel h1 {
    font-size: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .home-preview.banner-carousel .interact button {
    display: flex;
    margin-right: 1em;
    padding: 1em;
    height: 4em;
  }

  .home-preview .carousel-content {
    top: 33vh;
    left: 0;
    margin: 0;
    height: 33vh;
    width: 100vw;
    padding: 0;
    justify-content: end;
    align-items: center;
  }

  /* mini-banners -> previous/next */

  .home-preview.suggestions,
  .home-preview.aired-today {
    height: 300px;
    overflow-x: scroll;
    display: block;
    margin-right: 0.6em;
  }

  .home-preview.suggestions #next,
  .home-preview.suggestions #previous,
  .home-preview.aired-today #next,
  .home-preview.aired-today #previous {
    display: none;
  }

  .home-preview.suggestions .content-item,
  .home-preview.aired-today .content-item {
    margin-left: 0.6em;
    width: 150px;
    height: 225px;
  }

  .home-preview.suggestions .content-item {
    height: 285px;
    width: 210px;
  }

  .home-preview.suggestions {
    height: 360px;
  }

  /* navigator */

  .home-preview.navigator .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-preview.navigator button {
    height: 3em;
  }

  /* mini-banners */

  .home-preview.keep-watching {
    height: 235px;
  }

  .home-preview.keep-watching .content-item {
    height: 75%;
  }
}

/* Notebook styles */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  /* NAVBAR */

  .navbar-items {
    width: 25vw;
    right: 7vw;
  }

  .navbar-section {
    width: 24vw;
  }
}

/* Desktop styles */
@media screen and (min-width: 1440px) {
  .tecnical-form .form-group {
    margin: 0 0 0 50%;
  }
}

/* ATTRIBUTES */

.float-left {
  float: left;
}

.float-right {
  float: right;
}
