@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

:root {
  /* colors */
  --purple-base: #4d307f;
  --purple-second: #603e9b;
  --purple-third: #382c4c;
  --gray-base: #2d2a33;
  --gray-second: #242229;
  --gray-third: #69686b;
  --gray-forth: #3c3a42;
  --black-base: #1b1b1b;
  --white-base: #f5f5f5;
  --no-color: rgba(0, 0, 0, 0);
  --half-black: rgba(0, 0, 0, 0.5);

  /* dimensions */
  --col-count: 4;
  --scroll-blocked: hidden;
}

/* BASE */

* {
  margin: 0;
  padding: 0;
  color: var(--white-base);
  font-family: "Poppins", sans-serif;
  transition: 0.25s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 108vh;
  background-color: var(--gray-base);
}

main {
  flex: 1;
  overflow-y: visible;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer,
header {
  background-color: var(--purple-base);
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

footer {
  justify-content: center;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2vh;
}

button {
  background-color: var(--purple-base);
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  filter: contrast(125%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--purple-base) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--white-base) !important;
}

/* NAVBAR */

.logo-container,
.logo-container a,
.navbar-container {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo,
#logo-text {
  height: 75%;
  margin-right: 1%;
}

#logo {
  border-radius: 50%;
}

.navbar-container img {
  cursor: pointer;
}

#navbar-icon {
  height: 100%;
}

#search-icon {
  height: 35%;
  margin: 1em;
}

#navbar-icon:hover,
#navbar-icon.active {
  background-color: var(--gray-second);
}

.navbar-items {
  display: none;
  position: absolute;
  top: 8vh;
  right: 7vw;
  width: 15vw;
  justify-content: center;
  padding: 0 0 1% 0;
  background-color: var(--gray-second);
}

.navbar-items.active {
  display: flex;
}

.navbar-items ul {
  justify-content: center;
}

.navbar-section {
  width: 14vw;
  border-bottom: 0.1em solid var(--gray-third);
}

.navbar-items a {
  display: flex;
  align-items: center;
  padding: 1em;
}

.navbar-items a:hover {
  background-color: var(--gray-base);
}

.navbar-items a p {
  padding-left: 1em;
}

.navbar-section button {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  width: 100%;
  height: 5vh;
}

.navbar-section img {
  height: 3vh;
}

.navbar-items .profile-picture img {
  height: 8vh;
}

.profile-picture img {
  border-radius: 50%;
}

/* OFFER UPGRADE */

.offer-upgrade.products-container,
.offer-upgrade.banner {
  display: flex;
  background-color: var(--gray-second);
  min-height: calc(100vh / 1.5);
  background-size: cover;
}

.offer-upgrade.banner {
  background-image: url("/img/offer-upgrade-banner.png");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.offer-upgrade.banner button {
  width: 15vw;
  height: 5vh;
}

.offer-upgrade.banner h1 {
  font-size: 4em;
}

.offer-upgrade.products-container {
  padding: 5vh 15vw 5vh 15vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw;
}

.offer-upgrade .product {
  background-color: var(--gray-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer-upgrade .product button {
  width: 50%;
  height: 5vh;
}

.offer-upgrade .product a {
  margin: 1em;
}

.offer-upgrade .product img {
  height: 10vh;
}

.offer-upgrade .product li {
  display: flex;
  padding: 1rem;
}

.offer-upgrade .product li p {
  padding-left: 0.5em;
}

.offer-upgrade .product li img {
  height: 3vh;
}

/* TECNICAL FORM */

.tecnical-form.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-image: url("/img/login-background-image.png");
}

.register-form {
  background-image: url("/img/register-background-image.png");
}

.tecnical-form form {
  background-color: var(--half-black);
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.1em;
  padding: 1em;
}

.tecnical-form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin: 5% 0 0 50%;
}

.tecnical-form h1 {
  font-size: 3em;
}

.tecnical-form input {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  background-color: var(--no-color);
  border: none;
  border-bottom: 0.1vh solid var(--gray-forth);
  font-size: 1em;
}

.tecnical-form input:focus {
  outline: none;
  border-color: var(--purple-base);
}

.tecnical-form label {
  position: absolute;
  margin-bottom: 1em;
}

.tecnical-form input:focus + label {
  font-size: 1.5em;
  color: var(--purple-second);
}

.tecnical-form button {
  margin-top: 3em;
  padding: 1em;
  width: 50%;
}

/* HOME */

.home-preview {
  background-color: var(--gray-second);
  width: 100vw;
  margin-top: 1vh;
}

.home-preview.banner-carousel {
  height: calc(100vh / 1.5);
}

.home-preview.suggestions,
.home-preview.aired-today {
  height: calc(100vh / 2);
}

.home-preview.recently-added,
.home-preview.watch-list,
.home-preview.keep-watching {
  height: calc(100vh / 3);
}

/* RESPONSIVE */

/* Mobile styles */
@media screen and (max-width: 600px) {
  /* NAVBAR */

  .navbar-items {
    z-index: 10;
    position: fixed;
    right: 0vw;
    width: 100vw;
    height: 92vh;
    overflow-y: scroll;
  }

  .navbar-section {
    width: 95vw;
  }

  /* OFFER UPGRADE */

  .offer-upgrade.banner {
    background-image: url("/img/offer-upgrade-banner-mobile.png");
  }

  .offer-upgrade.banner button {
    width: 35vw;
    height: 12vw;
  }

  .offer-upgrade.banner h1 {
    font-size: 12vw;
  }

  .offer-upgrade.products-container {
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .offer-upgrade.products-container .product {
    margin: 1em;
  }

  .offer-upgrade .product button {
    height: 15vw;
  }

  /* TECNICAL FORM */

  .tecnical-form form {
    width: 100%;
  }
}

/* Tablet styles */

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* BASE */

  footer,
  header {
    height: 12vh;
  }

  footer a {
    font-size: 2vw;
  }

  /* NAVBAR */

  .navbar-items {
    z-index: 10;
    position: fixed;
    right: 0vw;
    top: 12vh;
    width: 100vw;
    height: 87vh;
    overflow-y: scroll;
  }

  .navbar-section {
    width: 95vw;
  }

  .navbar-section img {
    height: 3vw;
  }

  .navbar-section button {
    height: 5vw;
  }

  .navbar-items .profile-picture img {
    height: 8vw;
  }

  /* OFFER UPGRADE */

  .offer-upgrade.banner button {
    width: 20vw;
    height: 8vw;
  }

  .offer-upgrade.banner h1 {
    font-size: 5vw;
  }

  .offer-upgrade.products-container {
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .offer-upgrade.products-container .product {
    margin: 1em 10em 1em 10em;
  }

  .offer-upgrade .product button {
    height: 15vh;
  }

  /* TECNICAL FORM */

  .tecnical-form form {
    width: 100%;
  }
}

/* Notebook styles */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  /* NAVBAR */

  .navbar-items {
    width: 25vw;
    right: 7vw;
  }

  .navbar-section {
    width: 24vw;
  }
}

/* Desktop styles */
@media screen and (min-width: 1440px) {
  .tecnical-form .form-group {
    margin: 0 0 0 50%;
  }
}

/* 90° desktop styles */

@media screen and (min-height: 1920px) {
  /* NAVBAR */

  #navbar-icon {
    height: 50%;
  }

  #search-icon {
    height: 20%;
    margin: 1em;
  }

  .navbar-items {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 92vh;
    right: 0;
    overflow-y: scroll;
  }

  .navbar-section {
    width: 95vw;
  }

  /* OFFER UPGRADE */

  .offer-upgrade.banner {
    background-image: url("/img/offer-upgrade-banner-mobile.png");
  }

  .offer-upgrade.banner h1 {
    font-size: 2.5em;
  }

  .offer-upgrade.products-container {
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .offer-upgrade.products-container .product {
    margin: 1em 10em 1em 10em;
  }

  .offer-upgrade .product button {
    height: 5vw;
  }

  /* TECNICAL FORM */

  .tecnical-form form {
    width: 100%;
  }
}

/* ATTRIBUTES */

.float-left {
  float: left;
}

.float-right {
  float: right;
}
